@media (min-width: 576px) {
  #container {
    max-width: 540px;
  }
  .form_responsive {
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.25rem;
  }
  .form_title {
    text-align: right;

    display: grid;
    align-content: center;
  }
  .form_input {
    margin: 0;
  }
}

@media (min-width: 768px) {
  #container {
    max-width: 720px;
  }
  #header_top {
    grid-template-columns: 1fr min-content min-content;
    grid-column-gap: 1rem;
  }
}

@media (min-width: 992px) {
  #container {
    max-width: 960px;
  }

  .shop_items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
