@media (min-width: 576px) {
  #container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  #container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  #container {
    max-width: 960px;
  }

  .shop_items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
