$color-first: #ffd700;
$color-second: silver;
$color-third: #cd7f32;
$color-wingspan: #f07c00;
$color-timeline-month: #d5ddf6;
$color-timeline-month-active: #fff785;

$color-night: #111;
$color-night-a: #dd1000;
$color-night-success: #911f16;
$color-night-timeline-month: #911f16;
$color-night-timeline-month-active: #916a16;
