body {
  margin: 0;
}

#main {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 98vh;

  background: #333;
}

a.item {
  padding: 0.25rem 0.5rem;
  background: #444;
  border: 1px solid #000;
  border-bottom: none;
  text-decoration: none;
  color: #fff;
}

.item:last-of-type {
  border-bottom: 1px solid #000;
}

a.item:hover {
  cursor: pointer;
  background: #222;
}

.dropdown {
  position: relative;
}

.dropdown > .dropdown-inside {
  display: none;
}

.dropdown:hover > .dropdown-inside {
  display: grid;

  animation: fadeInFromNone 0.3s ease-in-out;
}

.dropdown-inside {
  position: absolute;
  top: 22px;
  left: 0;
  display: grid;
}

.dropdown-inside .item {
  background: #555;
}

.dropdown-inside .item:hover {
  background: #333;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: grid;
    opacity: 0;
  }

  100% {
    display: grid;
    opacity: 1;
  }
}
