* {
  box-sizing: border-box;
}

#body {
  margin: 0;
  background: #3F3F3F;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
}

#header {
  margin: 1.1rem 0;
  border-radius: 0.5rem;
  background: #909090;
  height: 137px;
  padding: 10px;

  display: grid;
  grid-template-columns: min-content max-content;
  justify-content: space-between;

  box-shadow: 10px 10px 10px #000;
}

#logo {
  height: 110px;
  width: auto;

  margin-right: auto;
}

#header-controls {
  display: grid;
  grid-template-columns: min-content max-content min-content min-content;

  height: 100%;
}

#loupe-wrap {
  height: 117px;
}
#loupe {}

#controls-wrap {
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: space-between;
}
.header-control {
  width: 20px;
  height: 20px;
}

#main-wrap {
  margin-top: 20px;

  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: space-around;

  position: relative;
}

#left {
  background: #909090;
  border-radius: 0.5rem;

  width: 140px;
  margin-left: 15px;
  height: 425px;

  position: relative;

  box-shadow: 10px 10px 10px #000;
}

.action-icon {
  width: 70px;
  height: auto;

  margin-left: 32px;
  margin-top: 6px;
}

.action-icon:first-child {
  margin-top: 15px;
}

#action-look {
  height: 65px;
}

#action-selected {
  position: absolute;
  width: 80px;
  height: 75px;
  left: 27px;
  top: 170px;
  border-radius: 0.5em;
  border: 5px solid red;
}

#main {
  background: #909090;
  border-radius: 0.5rem;

  width: 1020px;
  height: 582px;

  padding: 10px;

  box-shadow: 10px 10px 10px #000;
}

#main-image {
  width: 1000px;
}

#right {
  background: #909090;
  border-radius: 0.5rem;

  width: 140px;
  margin-right: 15px;
  height: 425px;

  box-shadow: 10px 10px 10px #000;
}

.no {
  font-size: 0;
}

.item-icon {
  width: 70px;
  height: auto;

  margin-left: 35px;
  margin-top: 6px;
}

.item-icon:first-child {
  margin-top: 15px;
}

#item-wall {
  background: url(resources/brick.jpg) repeat;
  margin-left: 10px;
  width: 120px;
  height: 70px;
  display: block;
  margin-top: 1px;
}

#action {
  position: absolute;
  top: 506px;
  left: -45px;
  width: 520px;
  height: 170px;

  background: #88ff89;
  border-radius: 0.5rem;

  font-family: Arial, sans-serif;
  font-size: 18px;

  padding: 21px 0 0 10px;
  line-height: 22px;
}

.text-big {
  font-family: 'DejaVu Serif', serif;
  font-size: 40px;
  line-height: 0;
}

.text-blood {
  text-shadow: 5px 5px 5px red;
  letter-spacing: 0.5px;
}

#question {
  position: relative;
  top: -3px;
}

#action-answer {
  position: relative;
  top: -3px;
  left: 2px;
  width: 382px;
  height: 22px;
  border: 2px solid #9d969d;
  border-bottom-color: #eeeeee;
  border-right-color: #eeeeee;
}

#action-button {
  position: relative;
  width: 78px;
  height: 21px;
  top: -4px;
  margin-left: 11px;

  border: 1px solid #a8a4a5;
  border-radius: 1px;
  background: gradient(linear, 0% 0%, 0% 100%, from(#f4eff3), to(#dcdcdc));

  font-size: 12px;
  letter-spacing: 1px;
}
